Source: lyx2rfc
Section: misc
Priority: extra
Maintainer: Yaron Sheffer <yaronf.ietf@gmail.com>
Build-Depends: debhelper (>= 8.0.0), bash-completion
Standards-Version: 3.9.3
Homepage: https://github.com/nicowilliams/lyx2rfc
#Vcs-Git: git://git.debian.org/collab-maint/lyx2rfc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/lyx2rfc.git;a=summary

Package: lyx2rfc
Architecture: all
Depends: ${misc:Depends}, lyx, xml2rfc, libxml2-utils, libsaxonb-java
Description: Create IETF documents using the LyX word processor	
 Forget about XML! Use the friendly LyX word processor to create
 Internet Drafts and RFCs. This package includes the conversion tool,
 a user guide and sample documents.
